.errorContainer {
  display: flex;
  flex-direction: column;
}

.errorMesssage {
  align-self: center;
  padding-bottom: 10px;
}

.closeButton {
  max-width: 50px;
  align-self: center;
  background-color: blue;
  color: white;
  border-color: transparent;
}
